Flask==2.3.3
imaplib2==3.6
gunicorn==21.2.0
Authlib==1.2.1
requests==2.31.0
google-api-python-client==2.107.0
google-auth==2.23.0
google-auth-oauthlib==1.1.0
google-auth-httplib2==0.1.1
PyJWT==2.8.0
psutil==5.9.5
